.sidemain{
    border: 1px solid  rgba(220, 218, 218, 0.5);  
    flex: 1; 
    height: 100vh;
    display: flex;
    flex-direction: column;   
}
.logo{
    /* color: skyblue; */
    border-radius: 50%;
    align-content: center;
    text-align: center;
    width: 20%;
    height:7vh;
    font-size:2rem;
    margin-top: 0.5rem;
    margin-left: 32%;
    /* height:5vh; */
    /* border: 1px solid black; */
}
.logo:hover{
    background-color:rgb(236, 233, 233);
}
ul{
    /* border: 1px solid red; */
    /* margin-top: 3%; */
    width:70%;
    margin-left: 28%;
}
.items {
    font-size: 20px;
    margin-top: 14px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    /* border: 1px solid black; */
    text-decoration: none;
    border-radius: 10px;
    height:5vh;
    width:60%;
    align-content: center;
}
 .items:hover{
    background-color:rgb(236, 233, 233);
}
.icon{
    margin-right: 1rem;
    margin-left: 0.8rem;
}

.submit{
    width:50%;
    height: 6.5vh;
    background-color: rgb(3, 139, 230);
    color: white;
    font-weight: bold;
    text-align: center;
    align-content: center;
    margin-left: 38%;
    border-radius: 20px;
    font-size: 18px;
}

.account{
    width:50%;
    height: 6.5vh;
    margin-top: 1.7rem;
    margin-left: 38%;
    border-radius: 20px;
    /* border: 1px solid rgb(219, 218, 218);   */
    display: flex;
    flex-direction: row; 
    padding: 0.3rem;
    align-content: center;
}
/* .account:hover{
    background-color:rgb(236, 233, 233);
} */
.pfp{
    align-self: center;
    background-color: rgb(80, 170, 244);
    width:30%;
    margin-left: 1rem;
    height: 9vh;
    border-radius: 51%;
    border-color: red;
}
.id{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    flex:2;
}
.name{
    font-weight: bold;
}
.uname{
    color:grey;
}
.opt{
    margin-left: 3rem;
    align-content: center;
    flex:1;
}